{% extends 'layout.html.twig' %}

{% block title %}
    Редактор статьи
{% endblock %}

{% block body %}
    <h1>Редактор статьи</h1>
    {{ form_start(form, {'method': 'POST'}) }}
    {{ form_end(form) }}
    <input type="file" id="file" name="file"></input>
    <hr>
    <div>
        <button id="save">Сохранить</button>
        <button id="load-file" disabled>Загрузить файл</button>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $('#file').change(function (){
            if ($('#file')[0].files[0]) {
                $('#load-file').prop('disabled', false);
            }
        })

        $('#save').on('click', () => {
            $('form').submit();
        });
        
        $('#load-file').on('click', () => {
            let data = new FormData();
            data.append('file', $('#file')[0].files[0]);

            $.ajax({
                url: '/upload',
                data: data,
                type: 'POST',
                processData: false,
                contentType: false,
                success: function (data) {
                    alert('Используйте эту ссылку в статье, чтобы вставить файл: '+data);
                    $('#file').val(null);
                    $('#load-file').prop('disabled', true);
                },
                error: function () {
                    alert('Произошла ошибка');
                    $('#file').val(null);
                    $('#load-file').prop('disabled', true);
                }
            });

        });
    </script>
{% endblock %}
