{% extends 'layout.html.twig' %}

{% block title %}
    {{ article.name }}
{% endblock %}

{% block body %}
    <div>
        <a href="/"><button>Написать статью</button></a>
    </div>
    <hr>
    <section class="page container">
        <h1>{{ article.name }}</h1>

        <div class="content">
            {{ article.body|raw }}
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script>
    </script>
{% endblock %}
